/* ============================================================== */
/* ========================= GOOGLE FONTS ======================= */
/* ============================================================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ==================================================== */
/* ================== VARIABLES CSS =================== */
/* ==================================================== */

:root {
    --h2-font-size: 2.5rem;
}

@keyframes horizontal-shaking {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateX(5px)
    }

    50% {
        transform: translateX(-5px)
    }

    75% {
        transform: translateX(5px)
    }

    100% {
        transform: translateX(0)
    }
}

/* ==================================================== */
/* ====================== BASE ======================== */
/* ==================================================== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

html {
    height: 100vh;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

a {
    text-decoration: none;
}


/* ==================================================== */
/* ============== REUSABLE CSS CLASSES ================ */
/* ==================================================== */

.container {
    max-width: 100%;
    margin-inline: 5rem;
    margin-bottom: 100px;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 2rem 1rem;
}

.section__title {
    font-size: var(--h2-font-size);
    padding-bottom: 10px;
}

.main {
    overflow: hidden;
}

.products__card-title,
.team__card-title {
    font-weight: 600;
    font-size: 1.7rem;
}

/* ==================================================== */
/* ===================== HEADER ======================= */
/* ==================================================== */

.header {
    width: 100%;
    height: 0;
}

.nav {
    position: relative;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__title,
.nav__link,
.nav__socialmedia {
    display: flex;
    color: white;
    cursor: pointer;
}

.nav__title {
    font-size: var(--h2-font-size);
}

.nav__menu {
    display: flex;
}

.nav__list {
    font-size: 1.2rem;
    display: flex;
    font-weight: 600;
    list-style: none;
    column-gap: 2.5rem;
}

.nav__link {
    text-decoration: none;
    transition: 1s;
}

.nav__link:hover {
    color: rgba(0, 0, 0, 0.5);
}

.nav__socialmedia {
    font-size: 1.2rem;
    column-gap: 10px;
    align-items: center;
}

.nav__socialmedia i {
    transition: 1s;
}

.nav__socialmedia i:hover {
    color: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 1280px) {
    .nav__close {
        display: none;
    }

    .nav__toggle {
        display: none;
    }
}

@media screen and (max-width: 1280px) {

    .nav__menu {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: hsla(228, 24%, 6%, .2);
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        width: 80%;
        height: 100%;
        padding: 6rem 3rem 0;
        transition: right .4s;
    }

    .nav__list {
        display: inline;
    }

}

.nav__close {
    position: absolute;
    color: white;
    top: 1.15rem;
    right: 1.5rem;
    font-size: 1.25rem;
    cursor: pointer;
    transition: 1s;
}

.nav__close:hover {
    color: rgba(0, 0, 0, 0.5);
}

.show-menu {
    right: 0;
}

/* ==================================================== */
/* ===================== MAIN ========================= */
/* ==================================================== */

/* ===================== Home ========================= */

#home {
    background: radial-gradient(rgba(139, 195, 245, 0.1), #1294b8);
}

.home__container {
    display: flex;
    margin-top: 100px;
    column-gap: 10%;
    justify-content: center;
}

.home__data {
    padding-top: 150px;
    text-align: left;
}

.home__title {
    font-size: 3rem;
    line-height: 3.5rem;
    padding-bottom: 1rem;
    color: black;
}

.home__description {
    padding-bottom: 1rem;
}

.home__img {
    width: 750px;
    flex-wrap: wrap;
}

.newsletter__form {
    display: flex;
    justify-content: space-between;
    padding: 5px 5px 5px 10px;
    background: #fff;
    border-radius: 20px;
    gap: 5px;
}

.newsletter__email {
    border: none;
    width: 100%;
    outline: none;
}

.newsletter__button {
    border: none;
    color: #fff;
    background: #1294b8;
    cursor: pointer;
    padding: 7px 20px;
    border-radius: 20px;
    transition: .5s;
}

.newsletter__button:hover {
    opacity: 65%;
}

/* ===================== Products Features ========================= */

#products {
    background-color: white;
}

.products__data {
    text-align: center;
}

.products__description {
    color: grey;
    margin-bottom: 50px;
}

.products__content {
    display: flex;
    flex-wrap: wrap;
    min-height: 25vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
}

.products__card {
    background: radial-gradient(rgb(139, 195, 245, 1), #1294b8);
    width: 425px;
    border-radius: 10px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    align-items: center;
    transition: 1s;
}

.products__card:hover {
    transform: translateY(-20px);
}

.products__card i {
    font-size: 50px;
    margin-top: 70px;
    padding-bottom: 20px;
}

.products__card h3 {
    padding-bottom: 20px;
}

.products__card p {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 70px;
}

/* ===================== How It Works ? ========================= */

#works {
    background-color: lightgray;
}

.works__container {
    margin-bottom: 400px;
}

.works__data {
    text-align: center;
}

/* ===================== Team ========================= */

.team__data {
    text-align: center;
}

.team__content {
    display: flex;
    justify-content: center;
}

.team__card-title {
    padding-top: 50px;
    margin-bottom: -7px;
}

.team__card-portrait {
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 250px;
    margin-top: 25px;
}

.team__card img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    transition: 0.5s;
    object-fit: cover;
}

.team__card-portrait:hover img {
    transform: scale(1.1);
    filter: grayscale(0);
}

.facebook a,
.twitter a,
.skype a {
    color: black;
}

.facebook {
    width: 30px;
    height: 30px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 100px;
    top: 0px;
    left: -45px;
    transition: 0.5s;
}

.team__card-portrait:hover .facebook {
    top: 65px;
    left: 25px;
}

.twitter {
    width: 30px;
    height: 30px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 100px;
    top: 50px;
    left: -45px;
    transition: 0.5s;
}

.team__card-portrait:hover .twitter {
    top: 105px;
    left: 25px;
}

.skype {
    width: 30px;
    height: 30px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 100px;
    top: 100px;
    left: -45px;
    transition: 0.5s;
}

.team__card-portrait:hover .skype {
    top: 145px;
    left: 25px;
}

/* ===================== Parallax ========================= */

#parallax {
    background: url("../img/parallax.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    padding: 0;
    margin-bottom: -100px;
}

.parallax__filter {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
}

.parallax__container {
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 15% 0;
}

.parallax__data {
    position: absolute;
    color: white;
}

.parallax__description {
    padding-bottom: 30px;
}

.parallax__button {
    font-weight: 400;
    color: white;
    border-color: white;
    padding: 10px 30px;
    border-radius: 10px;
    background: transparent;
    cursor: pointer;
    transition: 0.5s;
}

.parallax__button:hover {
    color: black;
    background: white;
    transform: translateY(-5px);
}

/* ===================== Client ========================= */

.client {
    background-color: lightgray;
}

.client__container {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.client__description {
    padding-bottom: 50px;
}

.client__logo {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.client__logo img {
    opacity: 50%;
    width: 125px;
    transition: .5s;
}

.client__logo img:hover {
    opacity: 100%;
}

/* ===================== Pricing ========================= */

.pricing1__container {
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    column-gap: 10%;
    justify-content: center;
    text-align: left;
}

.pricing1__data {
    display: flex;
    column-gap: 200px;
}

.pricing1__data img {
    width: 600px;
    height: 600px;
}

.pricing1__description {
    padding-top: 50px;
    padding-bottom: 35px;
}

.pricing1__info {
    display: flex;
    gap: 100px;
    font-size: large;
    padding-bottom: 35px;
}

.pricing1__button {
    border: none;
    color: #fff;
    background: #1294b8;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: large;
}

#pricing2 {
    background-color: lightgray;
}

.pricing2__container {
    justify-content: center;
    text-align: center;
}

.pricing__content {
    display: flex;
    gap: 25px;
    margin-top: 50px;
}

.pricing__card {
    width: 350px;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    margin-top: 25px;
    padding: 0px 25px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.pricing__card-title {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pricing__card-price {
    display: flex;
    justify-content: center;
    align-items: last baseline;
}

.pricing__card-price sup {
    font-size: 25px;
    font-weight: 500;
    color: #1294b8;
}

.pricing__card-price h2 {
    font-size: 50px;
    font-weight: 500;
    color: #1294b8;
}

.pricing__card-price p {
    font-size: 13px;
    color: gray;
}

.pricing__card-adventages {
    padding-bottom: 20px;
}

.pricing__card-adventages-list {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 7px 0px;
}

.fa-circle-check {
    color: green;
}

.fa-circle-xmark {
    color: red;
}

.p__data {
    flex: 1;
    text-align: right;
}

.pricing2__button {
    border: none;
    color: #fff;
    background: #1294b8;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: large;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.pricing2__button:hover {
    animation: horizontal-shaking .35s infinite;
}

#pcard2 {
    position: relative;
    margin-top: 2px;
    margin-bottom: 15px;
}

#pricing__card-sales {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #1294b8;
    color: white;
    width: 70px;
    border-radius: 0 0 0 12px;
}

#pricing__card-sales p {
    line-height: 17px;
    padding: 20px 10px 20px 10px;
}

/* ===================== Blog ========================= */

.blog__container {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.blog__content {
    display: flex;
    margin-top: 40px;
    text-align: left;
}

.blog__card {
    width: 300px;
    overflow: hidden;
    background: white;
    position: relative;
}

.blog__card a {
    text-decoration: none;
    font-weight: 600;
    color: #1294b8;
}

.blog__card img {
    width: 100%;
    border-radius: 5px;
    transition: .5s;
}

.user,
.clock {
    align-items: center;
    position: absolute;
    display: flex;
    color: white;
    gap: 5px;
    opacity: 0;
    transition: .7s;
}

.user {
    top: 30px;
    left: 30px;
    font-weight: 700;
    font-size: medium;
}

.clock {
    top: 60px;
    left: 30px;
    font-weight: 300;
    font-size: small;
}

.blog__card img:hover {
    filter: brightness(0.65);
}

.blog__card-header:hover .user {
    opacity: 1;
}

.blog__card-header:hover .clock {
    opacity: 1;
}

/* ===================== Footer ========================= */

.footer {
    background-color: grey;
    padding-block: 4rem 2rem;
}

.footer__container {
    justify-content: center;
    text-align: center;
}

.footer__logo,
.footer__description,
.footer__copy {
    color: white;
}

.footer__logo {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    font-size: 20px;
}

.footer__logo i {
    border: 1px solid white;
    text-align: center;
    width: 75px;
    height: 75px;
    padding: 26px;
    border-radius: 50%;
}

.footer__description {
    display: flex;
    justify-content: center;
    gap: 35px;
}

/* ===================== Scroll Up ========================= */

.scrollup {
    position: fixed;
    right: 3rem;
    bottom: -50%;
    background-color: black;
    color: white;
    border-radius: 50%;
    display: inline-flex;
    padding: 15px;
    font-size: 1.5rem;
    z-index: 10;
    transition: bottom .4s, transform .4s;
}

.scrollup:hover {
    transform: translateY(-.5rem);
}

.show-scroll {
    bottom: 3rem;
}

/* ==================================================== */
/* ================== RESPONSIVE ====================== */
/* ==================================================== */

@media screen and (max-width: 1280px) {

    .container {
        margin-inline: 3rem;
    }

    .home img {
        padding-top: 100px;
        width: 500px;
    }

    .parallax__container {
        height: 600px;
    }

    .parallax__container p {
        margin-inline: 3rem;
    }

    .pricing1__data {
        display: grid;
        justify-items: center;
    }    

    .pricing1__data img {
        padding-top: 100px;
    }

    .pricing__content {
        display: grid;
        justify-content: center;
        grid-template-columns: 400px 300px;
    }

}

@media screen and (max-width: 1024px) {

    .container {
        margin-inline: 3rem;
    }

    .pricing__content {
        display: grid;
        justify-content: center;
        grid-template-columns: 350px;
    }

    .blog__content {
        display: grid;
        justify-items: center;
        grid-template-columns: 350px 300px;
    }

}

@media screen and (max-width: 767px) {

    .container {
        margin-inline: 3rem;
    }

    .home__container {
        display: grid;
        justify-items: center;
    }

    .client__logo {
        display: grid;
        justify-content: center;
        grid-template-columns: 200px 200px;
    }

    .pricing__content {
        display: grid;
        justify-content: center;
        grid-template-columns: 350px;
    }

    .pricing1__data img {
        padding-top: 100px;
        width: 400px;
        height: 400px;
    }

    .blog__content {
        display: grid;
        justify-items: center;
        grid-template-columns: 450px;
    }

}

@media screen and (max-width: 480px) {
    
    .container {
        margin-inline: 1rem;
    }

    .section__title {
        font-size: 2rem;
    }

    .home__container {
        display: grid;
        justify-items: center;
    }

    .home img {
        padding-top: 100px;
        width: 400px;
    }

    .team__content {
        display: grid;
        grid-template-columns: 150px 150px;
    }

    .parallax__container {
        height: 600px;
    }

    .client__logo {
        display: grid;
        grid-template-columns: 150px 150px;
    }

    .pricing1__data {
        display: grid;
        grid-template-columns: 150px;
        justify-items: center;
    }

    .pricing1__data img {
        padding-top: 100px;
        width: 350px;
    }

    .pricing__content {
        display: grid;
        justify-items: center;
    }

    .blog__content {
        display: grid;
        justify-items: center;
        grid-template-columns: 450px;
    }

    .footer__logo {
        display: grid;
        grid-template-columns: 50px 50px;
        justify-content: center;
        gap: 40px;
    }
}